*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inicio{
  font-family: Verdana,sans-serif;
  font-size: 15px;

  color: black;

  position: relative;

  padding-top: 90px;
  padding-left: 150px;
}

ul{
  padding-left: 50px;
}
